<!DOCTYPE html>
<html>
<head>
<style>
#example1 {
border: 2px solid black;
padding: 25px;
background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.forbes.com%2Fsites%2Fkbrauer%2F2020%2F10%2F26%2Fthese-are-the-25-fastest-cars-in-the-world-in-2020%2F&psig=AOvVaw2T0EzJNeAXzVNZIcQMETT5&ust=1696911096759000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJC2ucuM6IEDFQAAAAAdAAAAABAT");
background-repeat: no-repeat;
background-size: auto;
}
#example2 {
border: 2px solid black;
padding: 25px;
background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.forbes.com%2Fsites%2Fkbrauer%2F2020%2F10%2F26%2Fthese-are-the-25-fastest-cars-in-the-world-in-2020%2F&psig=AOvVaw2T0EzJNeAXzVNZIcQMETT5&ust=1696911096759000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJC2ucuM6IEDFQAAAAAdAAAAABAT");
background-repeat: no-repeat;
background-size: 300px 100px;
}
</style>
</head>
<body>
<h2>background-size: auto (default):</h2>
<div id="example1">
<h2>Hello World</h2>
<p>The background image is displayed in its original size.</p>
</div>
<h2>background-size: 300px 100px:</h2>
<div id="example2">
<h2>Hello World</h2>
<p>Here, the background image is set to 300px wide and 100px high.</p>
</div>
</body>
</html>

